* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/*All Pages*/

body{
	font-family: 'lato', sans-serif;
}

a:link{
	text-decoration: none;
	color:white;
}

a:visited{
	text-decoration: none;
	color:white;
}

a:hover{
	font-weight: 900;
}


.logo{
	width:40px;
	margin:5px;
	margin-left:30px;
	float: left;
	box-shadow: -3px 3px white;
	border-radius: 1px
}

.navigation{
	z-index: 999;
	/*position:relative;
	top:0;
	float:left;*/
	font-weight:700;
	color:white;
	font-size: 20px;
	width:100%;
	height:55px;
	background:#F8B447;
}


nav{	
	max-width: 960px;
	margin:0 auto;
	letter-spacing: 1px;
}

nav ul{
	padding-top:15px;
	padding-right:30px;
	float:right;
}

/*.sticky{
	background:#F8B447;
}*/

/*.sticky{
	background:#F8B447;
	position:fixed;
	top:0;
	width: 100%;
}*/


nav ul li{
	display:inline-block;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size:100px;
	font-weight:700;
	color:white;
	width:100%;
	margin:50% auto;
	letter-spacing: 2px;
	text-align: center;
}

.topContainer{
  	background: url(../images/jackHeader.jpg) no-repeat center center ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	height:100vh;
}


.topContainer h1{
	width:100%;
	margin:0 auto;
	text-align: center;
}

.nameContainer{
	height:40%;
	padding:23% 20px;
}


footer{
	background:#F8B447;
}

footer p{
	color:white;
	font-weight: 700;
	max-width: 960px;
	width:100%;
	text-align: center;
	margin:0 auto;
	padding:25px;
}



/*Splash Page*/

.Splash {
	max-width: 960px;
	width:100%;
	margin: 0 auto;
	padding:15px;
	font-family: 'Lato', sans-serif;
  	background: url(../images/splash.jpg) no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

.Splash h1{
	margin:27% 0;
}

/*Jack*/

.backgroundBirds{
	background: url(../images/birdHeader.jpg) no-repeat center center ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

.backgroundFlowers{
	background: url(../images/flowerHeader.jpg) no-repeat center center ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

.backgroundButterflies{
	background: url(../images/butterflyHeader.jpg) no-repeat center center ;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

.sectionContainers{
    height: 25%;
    padding: 20% 20px;
}

h2{
	font-size:40px;
	font-weight: 700;
	border:3px solid #F8B447;
	padding:10px;
	color:white;
	text-align: center;
	margin:0 auto;
	box-shadow: -7px 7px #F8B447;
	border-radius: 1px
}

.backgroundBirds h2{
	width:175px;
}


.backgroundFlowers h2{
	width:240px;
}

.backgroundButterflies h2{
	width:300px;
}

.text{
	max-width: 540px;
	width: 100%;Bu
	line-height: 25px;
	padding:0 30px;
	margin: 150px auto;
}

.gallery{
	max-width: 960px;
	width:100%;
	padding:0 20px;
	margin:0 auto 150px auto;
}

.gallery img{
	width:33%;
	padding:10px;
}

.swiper-container {
	display: none;
    width: 75%;
    height: auto;
    margin-bottom: 150px
}

.swiper-button-prev{
	background: url(../images/leftButton.png) no-repeat center center;
	padding-left:30px;
}

.swiper-button-next{
	background: url(../images/nextButton.png) no-repeat center center;
	padding-right:30px;
}

.swiper-pagination-bullet{
	background-color: green;
}
.swiper-pagination-bullet-active{
	background-color:#F8B447;
}

@media screen and (max-width: 768px){

.swiper-container img{
	display:inline;
	width:100%;
	margin:0 auto;
}

.fancybox{
	display: none;
}

.swiper-container{
	display: block;
}

.Splash{
background: url(../images/splash_mobile.jpg) no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 }

.Splash h1{
	padding-top:60px;
}

.Splash h1 a{
	/*width: 200px;*/
/*	margin:27% auto;
*/	display: block;
	/*padding-top:60px;*/
	text-align: center;
}

}

























