/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.pageHeader {
	width:100%;
}

.main{
	float:left;
	width:50%;
}

.thumbnails{
	float:left;
	width: 33.33%;
}

.pageFooter{
	width:100%;
	float:left;
}

.placeholder{
	background:gray;
	padding:20px;
	margin:10px;
	border:1px solid black;
}

.main .placeholder{
	height:200px;
}

.thumbnails .placeholder{
	height:100px;
}

.pageHeader .placeholder, .pageFooter .placeholder{
	height:50px;
}